<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>201741515166-2mfqnhvq2g4an2r30gp53ng85thpoir2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201741515166-2mfqnhvq2g4an2r30gp53ng85thpoir2</string>
	<key>API_KEY</key>
	<string>AIzaSyCjtwX7Dan5hHZl0SknunxTok7GYXl-6xE</string>
	<key>GCM_SENDER_ID</key>
	<string>201741515166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.auth</string>
	<key>PROJECT_ID</key>
	<string>authentication-6ce0b</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-6ce0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201741515166:ios:5a8b3914664f16a0</string>
	<key>DATABASE_URL</key>
	<string>https://authentication-6ce0b.firebaseio.com</string>
</dict>
</plist>
